
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin_change_password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Change Password</h2>
<form method="POST" action="/admin/change_password">
    <label for="old_password">Old Password:</label>
    <input type="password" id="old_password" name="old_password" required><br>

    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required><br>

    <label for="confirm_password">Confirm New Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required><br>

    <button type="submit">Change Password</button>
</form>

</body>
</html>
