
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Change Password</title>
</head>
<body>
    <h1>Change Admin Password</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="old_password">Old Password:</label>
    <input type="password" name="old_password" id="old_password" required>

    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" id="new_password" required>

    <button type="submit">Change Password</button>
</form>

</body>
</html>
